@import '../../esri/css/esri.css'
@import '../../esri/themes/calcite/css/calcite.css'
html, body
  height 100%
  width 100%
  margin 0
  padding 0

  #app-container
    height 100%

  #search-div
    display: block
    position: fixed
    z-index: 2
    top: 1%
    right: 1%
