.lgnd-node
  position absolute
  bottom 1em
  left 1em
  z-index 999
  background #fff
  padding 1em
  font-family sans-serif
  font-size 0.8em
  a.lgnd-toggle
    &:link, &:active, &:visited
      color #929497
      cursor pointer
      text-decoration none
  #lgnd-container
    display none
    margin-top 1em


